<div class="row mb-3">
    <div class="col-md-6 image-color  g-0">
        <div class=" h-100 d-flex justify-content-center align-items-center">
            <div class="w-100 text-start">
                <div class=" w-75">
                    <div class="px-5">
                        <h1 class="intoFont">
                            <span class="fw-bolder fw-bold">FIND</span> CLOTHES
                            <br>THAT MATCHES
                            <br>YOUR STYLE
                        </h1>
                    </div>

                    <div class="px-5 fw-light">
                        <p class="introP">Browse through our diverse range of meticulously crafted garments, designed to
                            bring out
                            your
                            individuality and cater to
                            your sense of style.</p>
                    </div>
                    <div class="px-5">
                        <a class="btn btn-lg bg-dark text-white rounded-pill my-2 " [routerLink]="['/products']">Shop Now</a>
                    </div>
                </div>

                <div
                    class=" w-100 mx-sm-0  mx-md-auto mt-lg-5 row gx-0  text-center d-flex justify-content-between flex-sm-row">
                    <div class="col-md-4 col-sm-2 ">
                        <div class="">
                            <h4 class="fw-bold m-0">200+</h4>
                            <p class="m-0">International Brands
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-2 ">
                        <div class="">
                            <h4 class="fw-bold m-0">2,000+</h4>
                            <p class="m-0">High-Quality Producp</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-2 ">
                        <div class="">
                            <h4 class="fw-bold m-0">30,000+</h4>
                            <p class="m-0">Happy Customers
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="col-md-6 image-color">
        <div class="my-2">
            <img src="assets/images/Rectangle 2.png" class="w-100 " alt="">
        </div>
    </div>

</div>