<div class="w-75 mx-auto py-4">
    <h4>login Now :</h4>

    <form (ngSubmit)="handelelogin(loginForm)" [formGroup]="loginForm">




        <label for="email">email</label>
        <input type="email" class="form-control mb-2" id="email" formControlName="email">
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">email inValid</p>
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">email is Required</p>
        </div>

        <div class="position-relative">
            <label for="password">password</label>
            <input [type]="changetype? 'password':'text' " class="form-control mb-2" id="password"
                formControlName="password">
            <span id="passwordIcon" (click)="viewpass()">
                <i [ngClass]="visibele?'fa-regular fa-eye':'fa-regular fa-eye-slash' "
                    class="cursor-pointer text-success "></i></span>
        </div>
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">password must start with uppercase
                from 5 to 10 </p>
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">password is Required</p>
        </div>



        <button [disabled]="loginForm.invalid" class="btn bg-main text-white d-block ms-auto my-2" type="submit">
            <i *ngIf="islooding" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!islooding">login</span>
        </button>

        <div *ngIf="msg" class="alert alert-danger ">
            <p class="m-0">{{msg}}gsd</p>
        </div>
    </form>
</div>